In [46]:
import pandas as pd
pd.options.display.max_colwidth = None

df = pd.read_csv("jeopardy.csv")
df = df.rename(columns={col: '_'.join(col.strip().lower().split()) for col in df.columns})
df['value'] = df.value.apply(lambda x: ''.join(x.strip("$").split(',')))
df['value'] = pd.to_numeric(df.value, errors='coerce')
df

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,2000.0,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",2000.0,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,2000.0,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,2000.0,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,NaN,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

In [53]:
def keyword_filter(df, match, search):
  return df.loc[df[search].apply(lambda x: all(word.lower() in x.lower() for word in match))].reset_index()

yuma = keyword_filter(df, ['King'], 'question')
len(yuma) == len(df)

False

In [51]:
def get_answer_counts(data):
    return data["answer"].value_counts()

obj = get_answer_counts(yuma).reset_index()
len(obj)

5268